<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="henu.javaweb.collapstime.mapper.SongMapper">
    <insert id="addComment"  parameterType="henu.javaweb.collapstime.model.Comment">
        insert into comment (user_id,song_id,content,type) values (#{userId},#{songId},#{content},0);
    </insert>
    <insert id="collectSong" parameterType="henu.javaweb.collapstime.model.Collect">
        insert into collect (user_id,song_id,type) values (#{userId},#{songId},0);
    </insert>
    <insert id="addPlayCount">
        insert into play (song_id,play_count,user_id) values(#{songId},1,#{userId});
    </insert>
    <update id="upSongCommment">
        update comment set up = up+1 where id = #{commentId};
    </update>
    <update id="updatePlayCount">
        update play set play_count = play_count+1
         <where>
                song_id = #{songId} and
                <if test="userId == null">
                    user_id is null
                </if>
             <if test="userId != null">
                 user_id = #{userId}
             </if>
         </where>
         ;
    </update>
    <delete id="dismissCollectSong" parameterType="henu.javaweb.collapstime.model.Collect">
        delete from collect where user_id = #{userId} and song_id = #{songId};
    </delete>
    <delete id="deleteCollectSongById">
        delete from collect where song_id = #{songId} and user_id = #{userId} and type = 0;
    </delete>
    <select id="getSongById" resultType="henu.javaweb.collapstime.model.Song">
        select * from song where id = #{songId};
    </select>
    <select id="getSongCollectCount" resultType="java.lang.Integer">
        select count(id) from collect where type = 0 and song_id = #{songId};;
    </select>
    <select id="getSongCommentCount" resultType="java.lang.Integer">
        select count(id) from comment where type = 0 and song_id = #{songId};
    </select>
    <select id="getSongComment" resultType="henu.javaweb.collapstime.model.SongComment">
        select id,content,create_time,up,user_id from comment where type = 0 and song_id = #{songId};
    </select>
    <select id="getSongOfCommentUser" resultType="henu.javaweb.collapstime.model.User">
        select * from user
        <where>
            user.id in (
            select user_id from comment where type = 0 and song_id = #{songId}
            )
        </where>;
    </select>
    <select id="getSongIdOfUserCollect" resultType="java.lang.Integer">
        select song_id from collect where type = 0 and user_id = #{userId};
    </select>
    <select id="getSongNameBySongId" resultType="java.lang.String">
        select name from song where id = #{songId};
    </select>
    <select id="getLyricBySongId" resultType="java.lang.String">
        select lyric from song where id = #{songId}
    </select>
    <select id="getSongOfUserCollect" resultType="java.lang.Integer">
        select song_id from collect where type = 0 and user_id = #{songId};
    </select>
    <select id="getCollectSongCount" resultType="java.lang.Integer">
        select count(distinct user_id) from collect where type = 0 and song_id = #{songId};
    </select>
    <select id="getSongCommentUpCount" resultType="java.lang.Integer">
        select up from comment where id = #{commentId} and type = 0;
    </select>
    <select id="queryAllSongIdOfPlay" resultType="java.lang.Integer">
        select distinct song_id from play;
    </select>
    <select id="querySongTop50"  resultType="henu.javaweb.collapstime.model.Song">
     select * from song
     where song.id in
        <foreach collection="songIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="songIds!= null and songIds.size>0">
            order by field( song.id,
            <foreach collection="songIds" index="index" item="item" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="querySongTop50OfId" resultType="java.lang.Integer">
        select song_id from play order by play.play_count desc limit 50;
    </select>
    <select id="getAllPlaySongCountOfUser" resultType="java.lang.Integer">
        select sum(play_count) from play where user_id = #{userId} group by user_id;
    </select>
    <select id="getTop5OfUserPlayCount" resultType="henu.javaweb.collapstime.model.Play">
        select song_id,play_count from play where user_id = #{userId}  order by play_count  desc limit 5;
    </select>
    <select id="getSongIdAndPlayCountOfUserPlay" resultType="java.util.HashMap">
        select song_id 'songId',play_count 'playCount' from play where user_id = #{userId};
    </select>
    <select id="getSongInfoOfUserCollect" resultType="henu.javaweb.collapstime.model.Song">
        select * from song where id in (select song_id from collect where type = 0 and user_id = #{userId});
    </select>

</mapper>